global:
  scrape_interval: 15s

rule_files:
  - "alert.rules.yml"

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]

  - job_name: "flask_app"
    static_configs:
      - targets: ["web:5000"]

  - job_name: "grafana"
    static_configs:
      - targets: ["localhost:3000"]
